.App {
  background-color: #282c34;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.App-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/*Navbar*/
.navbar {
  width: 500px;
  padding: 0 10px 0 10px;
}

/* Style the links inside the navigation bar */
.navbar-item {
  font-weight: bold;
  font-family: monospace;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  transition: .15s;
  width: fit-content;
}

/* Change the color of links on hover */
.navbar-item:hover{
  color: cyan;
  transform: scale(1.2);
  text-shadow: 0 0 15px #fff;
}

/* Add a color to the active/current link */
.navbar-item.active {
  color: cyan;
  transform: scale(1.2);
  text-shadow: 0 0 15px #fff;
}
.app-main{
}